*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin-top: 50px;
    background:#ddd;
    border: 1px solid #fff;
    border-radius: 8px;
  
}

a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

img{
    width: 80px;
    height: 80px;
}